# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Power BI temporary files
*.pbit
*.tmp

# Backup folder
python_backup/

# OS files
.DS_Store
Thumbs.db
data_cleaning_backup_before_nav_fix.py
notebooks/Performance_Analytics_backup_before_cagr_fix.ipynb
